<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <!-- <bean id="std" class="com.app.pojo.Student">
   <property name="id" value="11"/>
   <property name="name" value="ABC"/>
   <property name="add" ref="addr"/>
   </bean>
   
   <bean id="addr" class="com.app.pojo.Address">
   <property name="city" value="pune"/>
   </bean> -->
   
   
  <!--  <bean id="std" class="com.app.pojo.Student">
         <property name="add">
              <bean class="com.app.pojo.Address"/>
         </property>
   </bean> -->
   
   
   
   <bean id="std"  class="com.app.pojo.Student"/>
   <bean id="addr" class="com.app.pojo.Address"/>
    
   </beans>
   